<div class="books-page">

  <!-- HEADER -->
  <div class="books-header">
    <h2>📚 Books Library</h2>
  </div>

  <!-- SEARCH -->
  <div class="search-bar">

    <input type="text"
           placeholder="Search by title..."
           [(ngModel)]="searchText">

    <button (click)="searchByTitle()">🔍 Title</button>

    <input type="text"
           placeholder="Search by author..."
           [(ngModel)]="authorText">

    <button (click)="searchByAuthor()">✍️ Author</button>

    <input type="text"
           placeholder="Category..."
           [(ngModel)]="categoryText">

    <button (click)="filterByCategory()">🏷️ Category</button>

  </div>

  <!-- FILTERS -->
  <div class="filters">

    <button (click)="loadBooks()">All</button>

    <button class="available" (click)="filterAvailable()">
      Available
    </button>

    <button class="low" (click)="filterLowStock()">
      Low Stock
    </button>

    <button class="reset" (click)="resetFilters()">
      Reset
    </button>

  </div>

  <!-- GRID -->
  <div class="books-grid">

    <div class="book-card" *ngFor="let book of books">

      <!-- IMAGE -->
      <div class="book-image">
        <img [src]="'https://picsum.photos/300/200?random=' + book.id">
             
      </div>

      <!-- CONTENT -->
      <div class="book-content">

        <h3>{{ book.titre }}</h3>

        <p class="author">✍️ {{ book.auteur }}</p>

        <p class="category" *ngIf="book.category">
          🏷️ {{ book.category.nom }}
        </p>

        <div class="stock">
          📦 Stock:
          <span [class.in]="book.quantite > 0"
                [class.out]="book.quantite == 0">
            {{ book.quantite }}
          </span>
        </div>

        <!-- BUTTON -->
        <button class="borrow-btn"
                (click)="borrow(book.id)"
                [disabled]="book.quantite == 0">

          📖 emprunter

        </button>

      </div>

    </div>

  </div>

</div>