<div class="container mt-4">

  <h2>👥 Users Management</h2>

  <!-- FORM -->
  <div class="card p-4 mt-3">

    <h5>Create User / Bibliothecaire</h5>

    <input class="form-control mb-2" placeholder="Nom" [(ngModel)]="form.nom">
    <input class="form-control mb-2" placeholder="Prenom" [(ngModel)]="form.prenom">
    <input class="form-control mb-2" placeholder="Email" [(ngModel)]="form.email">
    <input class="form-control mb-2" placeholder="Password" [(ngModel)]="form.motDePasse">
    <input class="form-control mb-2" placeholder="Telephone" [(ngModel)]="form.telephone">

    <!-- ROLE -->
    <select class="form-control mb-2" [(ngModel)]="role">
      <option value="USER">User</option>
      <option value="BIBLIOTHECAIRE">Bibliothecaire</option>
    </select>

    <button class="btn btn-success" (click)="create()">
      Create
    </button>

  </div>

  <!-- LIST -->
  <div class="card p-4 mt-4">

    <h5>Users List</h5>

    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let u of users">
          <td>{{ u.nom }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.role }}</td>
        </tr>
      </tbody>

    </table>

  </div>

</div>
